@page "/"

<PageTitle>Home</PageTitle>

<h1>Digi-Script</h1>

<p>
    The Proposed project aims to digitize call-scripts to improve Consultants' on-call compliance,
    and improve both Consultant and Customer experience during our Customer acquisition stage.
    As well as optimise distribution and version control of our QA call script tools.
</p>



